<div class="panel panel-default">
  <!-- heading -->
  <div class="panel-heading">
    <% if post.facebook == true %> <span class="label label-primary"></span> <% end %>
    <% if post.twitter == true %> <span class="label label-primary"></span> <% end %>
    <%= post.scheduled_at %>
  </div>
  <!-- Body -->
  <div class="panel-body">
    <%= post.content %>
  </div>
  <div class="panel-footer">
      <%= link_to 'More Info', post_path(id: post.id) %>
      <div class="pull-right">
       <%= link_to 'Quick Cancel', cancel_post_path(post), method: :put if post.state == 'scheduled' %>
       <%= link_to 'Quick Delete', post_path(post), method: :delete if post.state == 'canceled' %>
      </div>

  </div>
</div>
